In [51]:
#Data Manipulation 
#===============================================
import numpy as np 
import pandas as pd 
#Regex 
#===============================================
import re 
#NLTK
#===============================================
import nltk
from nltk.stem.porter import PorterStemmer
#nltk.download('punkt')

#Vectorizer
#===============================================
from sklearn.feature_extraction.text import TfidfVectorizer

#similarity_score
#===============================================
from sklearn.metrics.pairwise import cosine_similarity
#model
#===============================================
from sklearn.neighbors import NearestNeighbors

In [29]:
df=pd.read_csv('E:/My_Project/CodeAlpha/Task 1/My_Data/spotify_millsongdata.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [30]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [31]:
df.shape

(57650, 4)

In [32]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [33]:
df=df.sample(10000)

In [34]:
df.shape

(10000, 4)

In [35]:
df.drop(columns=['link'],axis=1,inplace=True)

In [37]:
df.head()

,artist,song,text
41397,Lenny Kravitz,Are You Gonna Go My Way,"Intro after 8 \r\n \r\nI was born, long ago ..."
36201,Horrible Histories,English Civil War,"We are the Roundheads, we don't want kings no ..."
30990,Ella Fitzgerald,Dancing On The Ceiling,The world is lyrical \r\nBecause a miracle \...
31516,Emmylou Harris,Just Someone I Used To Know,There's a picture that I carry \r\nOne we mad...
21672,Within Temptation,A Dangerous Mind,I'm searching for answers \r\n'Cause somethin...

In [39]:
df['text'][41397]

'Intro after 8  \r\n  \r\nI was born, long ago  \r\nI am the chosen, I\'m the one  \r\nI have come, to save the day  \r\nAnd I won\'t leave until I\'m done  \r\n  \r\nSo that\'s why, you\'ve got to try  \r\nYou got to breath and have some fun  \r\nThough I\'m not paid, I play this game  \r\nAnd I won\'t stop until I\'m done  \r\n  \r\nBut what I really want to know is  \r\nAre you gonna go my way?  \r\nAnd I got to got to know  \r\n  \r\nI don\'t know why, we always cry  \r\nThis we must leave and get undone  \r\nWe must engage, and rearrange  \r\nAnd turn this planet back to one  \r\n  \r\nSo tell me why, we got to die  \r\nAnd kill each other one by one  \r\nWe\'ve got to love, and rub-a-dub  \r\nWe\'ve got to dance and be in love  \r\n  \r\nBut what I really want to know is  \r\nAre you gonna go my way?  \r\nAnd I got to got to know  \r\n  \r\nSolo after solo on after nine with pause then  \r\n  \r\nAre you gonna go my way?  \r\n\'Cause baby I got to know "talk"  \r\nYeah\r\n\r\n'

#### Text Preprocessing

In [40]:
df['text']=df['text'].str.lower().replace(r"^\w\s","").replace(r'\n','',regex=True)

In [41]:
df['text']

41397    intro after 8  \r  \ri was born, long ago  \ri...
36201    we are the roundheads, we don't want kings no ...
30990    the world is lyrical  \rbecause a miracle  \rh...
31516    there's a picture that i carry  \rone we made ...
21672    i'm searching for answers  \r'cause something ...
                               ...
10268    my heart is true, but the road is long  \rand ...
48057    let is snow, let is snow  \r  \rthe weather ou...
4327     woke up with a heavy head  \rand i thought abo...
23651    sitting all alone with my whisky on ice,  \ri ...
33691    you've stolen my world from under me my cheati...
Name: text, Length: 10000, dtype: object

In [43]:
stemmer=PorterStemmer()

In [44]:
def token(txt):
    token=nltk.word_tokenize(txt) 
    a=[stemmer.stem(i)  for i in token]
    return " ".join(a)

In [45]:
df['text']=df['text'].apply(lambda x : token(x))

In [46]:
df['text']

41397    intro after 8 i wa born , long ago i am the ch...
36201    we are the roundhead , we do n't want king no ...
30990    the world is lyric becaus a miracl ha brought ...
31516    there 's a pictur that i carri one we made som...
21672    i 'm search for answer 'caus someth is not rig...
                               ...
10268    my heart is true , but the road is long and i ...
48057    let is snow , let is snow the weather outsid i...
4327     woke up with a heavi head and i thought about ...
23651    sit all alon with my whiski on ice , i wonder ...
33691    you 've stolen my world from under me my cheat...
Name: text, Length: 10000, dtype: object

#####  Vectorizer

In [48]:
tfidf=TfidfVectorizer(analyzer='word',stop_words='english')

In [53]:
matrix=tfidf.fit_transform(df['text'])

In [67]:
def similar_songs(df, k, song_name):
    # Build a NearestNeighbors model
    kNN = NearestNeighbors(n_neighbors=k+1, algorithm="brute", metric='cosine')
    
    # Fit the model
    kNN.fit(matrix.toarray())  # Convert matrix to dense representation
    
    # Find the index of the song in the DataFrame
    song_index = df.index[df['song'] == song_name].tolist()[0]
    
    # Reshape the input array to have correct dimensionality
    song_matrix = matrix[song_index].toarray().reshape(1, -1)
    
    # Find the closest neighbors using .kneighbors and passing the row corresponding to the song
    recs = kNN.kneighbors(song_matrix, return_distance=False)[0]
    
    # Find the titles of the song ids
    recs_names = [df.iloc[i]["song"] for i in recs]
    recs_names = [m for m in recs_names if m != song_name]
    
    # Return a list with the recommended song titles
    return recs_names

# Example usage:
num_similar_songs = 10
current_song_name = 'Dancing On The Ceiling'  # Name of the current song
recommendations = similar_songs(df, num_similar_songs, current_song_name)

print("Recommended songs for the next play:")
for idx, song in enumerate(recommendations, start=1):
    print(f"{idx}. {song}")

Recommended songs for the next play:
1. Low Ceiling
2. I Am Not Willing
3. Lover Man
4. I Just Wanna Dance With You
5. Love Them Girls
6. I Don't Want To Be Your Lover
7. All In Love Is Fair
8. Daughter Of Mine
9. Loved
10. Mr Loverboy